# Code of conduct

`{{PACKAGE}}` follows the [{{ORG_LABEL}} code of conduct](https://github.com/{{ORG}}/.github/blob/HEAD/CODE_OF_CONDUCT.md)
(Contributor Covenant 2.1). Report conduct concerns to {{CONDUCT_CONTACT}}.
