# Security policy

`{{PACKAGE}}` follows the [{{ORG_LABEL}} security policy](https://github.com/{{ORG}}/.github/blob/HEAD/SECURITY.md).
Never report a vulnerability in a public issue.

{{CHANNELS}}

## Supported versions

{{SUPPORTED_VERSIONS}}

{{SCOPE_NOTES}}
